{% extends 'base.html.twig' %}

{% block title %}Liste des formations{% endblock %}

{% block body %}
    <h1>Liste des formations</h1><br>

        {% for formation in formations %}
            <b> {{ formation.intitule }} </b><br>
            Descriptif de la formation : {{ formation.descriptif }} <br><br>      
    {% endfor %}
{% endblock %}
