.form-control {
    border: none;
}


h1, h2, h3, h4 {
    color: #1e446f;
}

a {
    color: white;
}

/* .btn {
    padding-top: 10px;
} */

.login {
    border: 1px solid white;
    margin: 0 20px;
}

.container {
    padding-top: 10vh;
    
}

#wrapper {
    min-height: 100vh;
    background: radial-gradient(rgb(167, 182, 193), #4f6d9c);
}




