{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
    <h1>Listes des stagiaires</h1>

    {% for stagiaire in stagiaires %}
        <a href="{{ path('showDetail_stagiaire', {'id': stagiaire.id}) }}"> {{ stagiaire }} </a><br><br>
    {% endfor %}

{% endblock %}
