{% extends 'base.html.twig' %}

{% block title %}Liste des matières{% endblock %}

{% block body %}
<h1>Liste des matières</h1><br>

    {% for matiere in matieres %}
        - {{ matiere.denomination }} <br>     
    {% endfor %}
{% endblock %}
